 .u-section-1 {
  background-image: none;
  min-height: 879px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 879px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -672px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 465px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 0 0 8px rgba(219,84,90,1);
  font-size: 3rem;
  font-weight: 300;
  margin: 111px auto 0 32px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 200;
  margin: 32px auto 0 32px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 465px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 428px;
  height: 428px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 797px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    min-height: 878px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -671px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 410px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 707px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 613px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -425px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 700;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 293px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 588px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 588px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -492px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 108px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 440px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 794px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 793px;
    margin-top: 1px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -710px;
    margin-bottom: 4px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 277px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1132px;
}

.u-section-2 .u-shape-1 {
  width: 1022px;
  height: 777px;
  margin: 125px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 936px;
  height: 740px;
  margin: -718px auto 0 204px;
}

.u-section-2 .u-group-1 {
  min-height: 413px;
  width: 762px;
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -914px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-text-1 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-family: Montserrat, sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 100;
  margin: 10px 37px 0;
}

.u-section-2 .u-group-2 {
  min-height: 513px;
  margin-top: 197px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-group-3 {
  width: 276px;
  min-height: 208px;
  transition-duration: 0.5s;
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  height: auto;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 109px auto 0 56px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-group-4 {
  width: 276px;
  min-height: 208px;
  transition-duration: 0.5s;
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  height: auto;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -208px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 48px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-group-5 {
  width: 276px;
  min-height: 208px;
  transition-duration: 0.5s;
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  height: auto;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -208px 56px 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 12px 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 49px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 70px auto 0;
  padding: 10px 47px;
}

.u-section-2 .u-group-6 {
  min-height: 208px;
  width: 762px;
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  height: auto;
  margin: -662px auto 60px;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 52px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 3.75rem;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 1;
  margin: 8px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-2 .u-shape-1 {
    width: 940px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 4px;
  }

  .u-section-2 .u-group-1 {
    min-height: 267px;
    margin-top: -918px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 0;
  }

  .u-section-2 .u-group-2 {
    min-height: 529px;
    margin-top: 248px;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 50px 45px;
  }

  .u-section-2 .u-group-3 {
    width: 245px;
    margin-top: 41px;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 41px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
  }

  .u-section-2 .u-group-4 {
    width: 245px;
    margin-top: -209px;
    height: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-group-5 {
    width: 245px;
    margin-top: -207px;
    margin-right: 0;
    height: auto;
  }

  .u-section-2 .u-text-8 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 138px;
  }

  .u-section-2 .u-group-6 {
    width: 848px;
    min-height: 237px;
    margin-top: -736px;
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 82px;
  }

  .u-section-2 .u-text-10 {
    font-size: 2.75rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-shape-1 {
    height: 745px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-shape-2 {
    height: 668px;
    margin-top: -686px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    width: 577px;
    margin-top: -843px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-group-2 {
    min-height: 423px;
    margin-top: 260px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 10px 30px;
  }

  .u-section-2 .u-group-3 {
    width: 195px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 5px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 52px;
  }

  .u-section-2 .u-text-4 {
    margin-right: -2px;
    margin-left: 3px;
  }

  .u-section-2 .u-group-4 {
    width: 195px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 53px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-group-5 {
    width: 195px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 14px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 96px;
  }

  .u-section-2 .u-group-6 {
    width: 650px;
    margin-top: -643px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 146px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    min-height: 774px;
    margin-top: 239px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 242px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-2 .u-group-4 {
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 48px;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 5px;
  }

  .u-section-2 .u-group-5 {
    width: 237px;
    margin-top: -444px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 42px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 364px;
  }

  .u-section-2 .u-group-6 {
    width: 540px;
    margin-top: -997px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1509px;
  }

  .u-section-2 .u-shape-1 {
    height: 348px;
    margin-top: 244px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-2 {
    height: 309px;
    margin-top: -593px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 409px;
    margin-top: -274px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 14px 20px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 12px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-group-2 {
    min-height: 811px;
    margin-top: 253px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 9px 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 122px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 260px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-5 {
    margin-top: -442px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 260px;
  }

  .u-section-2 .u-group-6 {
    min-height: 205px;
    margin-top: -1016px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 2.25rem;
  }
}

.u-section-2 .u-group-4,
.u-section-2 .u-group-4:before,
.u-section-2 .u-group-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-4.u-group-4.u-group-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-group-4.u-group-4.u-group-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-5,
.u-section-2 .u-group-5:before,
.u-section-2 .u-group-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-5.u-group-5.u-group-5:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-group-5.u-group-5.u-group-5.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-group-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-3,
.u-section-2 .u-group-3:before,
.u-section-2 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-3.u-group-3.u-group-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-group-3.u-group-3.u-group-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-group-1 {
  min-height: 275px;
  width: 985px;
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  height: auto;
  margin: 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 40px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 72px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 1;
  margin: 8px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 14px 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 25px auto 0;
  padding: 10px 47px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    min-height: 283px;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.75rem;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-3 .u-group-1 {
    width: 577px;
    margin-top: 38px;
    margin-bottom: 38px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    margin-top: 48px;
    margin-bottom: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 0px 0px 40px 0px rgba(219,84,90,1) !important;
  transform: translateX(0px) scale(1) !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 0px 0px 40px 0px rgba(219,84,90,1) !important;
  transform: translateX(0px) scale(1) !important;
}

.u-section-3 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1929px;
}

.u-section-4 .u-group-1 {
  min-height: 1892px;
  margin-top: 37px;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-4 .u-shape-1 {
  width: 408px;
  height: 408px;
  margin: 70px 114px 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 750px;
  height: 450px;
  margin: -346px auto 0 104px;
}

.u-section-4 .u-group-2 {
  min-height: 196px;
  width: 762px;
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -565px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 40px;
  padding-right: 40px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 1;
  margin: 8px 0 0;
}

.u-section-4 .u-group-3 {
  min-height: 1523px;
  width: 958px;
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  height: auto;
  background-image: none;
  margin: 37px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 29px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  width: 762px;
  margin: 65px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 1389px;
}

.u-section-4 .u-list-item-1 {
  text-shadow: -2px 5px 20px rgba(0,0,0,0.4);
  transition-duration: 0.5s;
  box-shadow: 0px 13px 30px 0px rgba(0,0,0,1);
}

.u-section-4 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-4 .u-image-1 {
  height: 278px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-4 .u-group-4 {
  min-height: 43px;
  margin-top: -17px;
  margin-bottom: 0;
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 5px 0 rgba(0,0,0,0);
  height: auto;
}

.u-section-4 .u-container-layout-5 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-group-5 {
  min-height: 320px;
  margin-top: -6px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 44px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 34px auto 0;
  padding: 9px 80px 10px;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 0px 13px 30px 0px rgba(0,0,0,1);
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 30px 30px;
}

.u-section-4 .u-image-2 {
  height: 278px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-4 .u-group-6 {
  min-height: 43px;
  margin-top: -17px;
  margin-bottom: 0;
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 5px 0 rgba(0,0,0,0);
  height: auto;
}

.u-section-4 .u-container-layout-8 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-group-7 {
  min-height: 315px;
  margin-top: -6px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 44px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 34px auto 0;
  padding: 9px 80px 10px;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 0px 13px 30px 0px rgba(0,0,0,1);
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-10 {
  padding: 0 30px 30px;
}

.u-section-4 .u-image-3 {
  height: 278px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-4 .u-group-8 {
  min-height: 43px;
  margin-top: -17px;
  margin-bottom: 0;
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 5px 0 rgba(0,0,0,0);
  height: auto;
}

.u-section-4 .u-container-layout-11 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-group-9 {
  min-height: 315px;
  margin-top: -6px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-12 {
  padding: 0;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  margin: 44px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 34px auto 0;
  padding: 9px 80px 10px;
}

.u-section-4 .u-list-item-4 {
  text-shadow: -2px 5px 20px rgba(0,0,0,0.4);
  transition-duration: 0.5s;
  box-shadow: 0px 13px 30px 0px rgba(0,0,0,1);
}

.u-section-4 .u-container-layout-13 {
  padding: 0 30px 30px;
}

.u-section-4 .u-image-4 {
  height: 278px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-4 .u-group-10 {
  min-height: 43px;
  margin-top: -17px;
  margin-bottom: 0;
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 5px 0 rgba(0,0,0,0);
  height: auto;
}

.u-section-4 .u-container-layout-14 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-4 .u-text-9 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-group-11 {
  min-height: 315px;
  margin-top: -6px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-15 {
  padding: 0;
}

.u-section-4 .u-text-10 {
  font-size: 1rem;
  margin: 44px 0 0;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 34px auto 0;
  padding: 9px 80px 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1920px;
  }

  .u-section-4 .u-group-1 {
    min-height: 1792px;
    margin-bottom: 60px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 77px;
  }

  .u-section-4 .u-group-2 {
    width: 848px;
    margin-top: -558px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.75rem;
    width: auto;
  }

  .u-section-4 .u-group-3 {
    min-height: 1535px;
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-4 .u-list-1 {
    width: 722px;
    margin-top: 41px;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-group-6 {
    height: auto;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-group-8 {
    height: auto;
  }

  .u-section-4 .u-text-8 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-group-10 {
    height: auto;
  }

  .u-section-4 .u-text-10 {
    font-size: 0.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1819px;
  }

  .u-section-4 .u-group-1 {
    min-height: 1769px;
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 70px;
  }

  .u-section-4 .u-shape-2 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-2 {
    width: 577px;
    margin-top: -511px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
  }

  .u-section-4 .u-group-3 {
    min-height: 1430px;
    margin-top: 70px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 648px;
    margin-top: 20px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1326px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-4 .u-image-1 {
    height: 253px;
    margin-top: 57px;
  }

  .u-section-4 .u-group-4 {
    margin-top: -22px;
  }

  .u-section-4 .u-group-5 {
    min-height: 295px;
    margin-top: 13px;
  }

  .u-section-4 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 72px;
    padding-right: 59px;
    padding-left: 58px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 0;
  }

  .u-section-4 .u-image-2 {
    height: 253px;
    margin-top: 57px;
  }

  .u-section-4 .u-group-6 {
    margin-top: -22px;
  }

  .u-section-4 .u-group-7 {
    min-height: 253px;
    margin-top: 13px;
  }

  .u-section-4 .u-container-layout-9 {
    padding: 0;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 72px;
    padding-right: 59px;
    padding-left: 58px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-top: 0;
  }

  .u-section-4 .u-image-3 {
    height: 253px;
    margin-top: 57px;
  }

  .u-section-4 .u-group-8 {
    margin-top: -22px;
  }

  .u-section-4 .u-group-9 {
    min-height: 253px;
    margin-top: 13px;
  }

  .u-section-4 .u-container-layout-12 {
    padding: 0;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 72px;
    padding-right: 59px;
    padding-left: 58px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-top: 0;
  }

  .u-section-4 .u-image-4 {
    height: 253px;
    margin-top: 57px;
  }

  .u-section-4 .u-group-10 {
    margin-top: -22px;
  }

  .u-section-4 .u-group-11 {
    min-height: 253px;
    margin-top: 13px;
  }

  .u-section-4 .u-container-layout-15 {
    padding: 0;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 72px;
    padding-right: 59px;
    padding-left: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3389px;
  }

  .u-section-4 .u-group-1 {
    min-height: 3339px;
    margin-bottom: 50px;
  }

  .u-section-4 .u-group-2 {
    margin-top: -576px;
    width: 540px;
  }

  .u-section-4 .u-group-3 {
    min-height: 3076px;
    margin-top: 59px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-4 .u-list-1 {
    width: 342px;
    margin-top: 123px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 297px;
    width: 298px;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-group-4 {
    width: 298px;
    margin-top: -18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-group-5 {
    min-height: 266px;
    width: 298px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 22px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 13px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 297px;
    width: 298px;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-group-6 {
    width: 298px;
    margin-top: -18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-group-7 {
    min-height: 266px;
    width: 298px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    margin-top: 22px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 13px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 297px;
    width: 298px;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-group-8 {
    width: 298px;
    margin-top: -18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }

  .u-section-4 .u-group-9 {
    min-height: 266px;
    width: 298px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-8 {
    margin-top: 22px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 13px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 297px;
    width: 298px;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-group-10 {
    width: 298px;
    margin-top: -18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
  }

  .u-section-4 .u-group-11 {
    min-height: 266px;
    width: 298px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-10 {
    margin-top: 22px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3020px;
  }

  .u-section-4 .u-group-1 {
    min-height: 3005px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-top: 102px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-2 {
    height: 313px;
    margin-top: 525px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
    margin-top: -1278px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-group-3 {
    min-height: 2694px;
    margin-top: 41px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-list-1 {
    width: 280px;
    margin-top: 41px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 2549px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 25px 0 20px;
  }

  .u-section-4 .u-image-1 {
    height: 199px;
    width: 208px;
    margin-top: 8px;
  }

  .u-section-4 .u-group-4 {
    min-height: 36px;
    width: 212px;
    margin-top: -32px;
  }

  .u-section-4 .u-group-5 {
    min-height: 236px;
    width: 246px;
    margin-top: 20px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 7px;
    margin-right: 21px;
    margin-left: 16px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 40px;
    padding-right: 64px;
    padding-left: 63px;
  }

  .u-section-4 .u-container-layout-7 {
    padding: 25px 0 20px;
  }

  .u-section-4 .u-image-2 {
    height: 199px;
    width: 208px;
    margin-top: 8px;
  }

  .u-section-4 .u-group-6 {
    min-height: 36px;
    width: 212px;
    margin-top: -32px;
  }

  .u-section-4 .u-group-7 {
    min-height: 236px;
    width: 246px;
    margin-top: 20px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 7px;
    margin-right: 21px;
    margin-left: 16px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 40px;
    padding-right: 64px;
    padding-left: 63px;
  }

  .u-section-4 .u-container-layout-10 {
    padding: 25px 0 20px;
  }

  .u-section-4 .u-image-3 {
    height: 199px;
    width: 208px;
    margin-top: 8px;
  }

  .u-section-4 .u-group-8 {
    min-height: 36px;
    width: 212px;
    margin-top: -32px;
  }

  .u-section-4 .u-group-9 {
    min-height: 236px;
    width: 246px;
    margin-top: 20px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 7px;
    margin-right: 21px;
    margin-left: 16px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 40px;
    padding-right: 64px;
    padding-left: 63px;
  }

  .u-section-4 .u-container-layout-13 {
    padding: 25px 0 20px;
  }

  .u-section-4 .u-image-4 {
    height: 199px;
    width: 208px;
    margin-top: 8px;
  }

  .u-section-4 .u-group-10 {
    min-height: 36px;
    width: 212px;
    margin-top: -32px;
  }

  .u-section-4 .u-group-11 {
    min-height: 236px;
    width: 246px;
    margin-top: 20px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 7px;
    margin-right: 21px;
    margin-left: 16px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 40px;
    padding-right: 64px;
    padding-left: 63px;
  }
}

.u-section-4 .u-list-item-1,
.u-section-4 .u-list-item-1:before,
.u-section-4 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 4px 22px 3px rgba(219,84,90,1) !important;
  border-radius: 27px !important;
}

.u-section-4 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 4px 22px 3px rgba(219,84,90,1) !important;
  border-radius: 27px !important;
}

.u-section-4 .u-list-item-4,
.u-section-4 .u-list-item-4:before,
.u-section-4 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 4px 22px 3px rgba(219,84,90,1) !important;
  border-radius: 27px !important;
}

.u-section-4 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 4px 22px 3px rgba(219,84,90,1) !important;
  border-radius: 27px !important;
}

.u-section-4 .u-list-item-3,
.u-section-4 .u-list-item-3:before,
.u-section-4 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 4px 22px 3px rgba(219,84,90,1) !important;
  border-radius: 27px !important;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 4px 22px 3px rgba(219,84,90,1) !important;
  border-radius: 27px !important;
}

.u-section-4 .u-list-item-2,
.u-section-4 .u-list-item-2:before,
.u-section-4 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 4px 22px 3px rgba(219,84,90,1) !important;
  border-radius: 27px !important;
}

.u-section-4 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 4px 22px 3px rgba(219,84,90,1) !important;
  border-radius: 27px !important;
}

.u-block-6884-72:not([data-block-selected]):not([data-cell-selected]),
.u-block-6884-72:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6884-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-6884-72:not([data-block-selected]):not([data-cell-selected]).u-block-6884-72:not([data-block-selected]):not([data-cell-selected]).u-block-6884-72:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 4px 22px 3px rgba(219,84,90,1) !important;
  border-radius: 27px !important;
}

.u-block-6884-72:not([data-block-selected]):not([data-cell-selected]).u-block-6884-72:not([data-block-selected]):not([data-cell-selected]).u-block-6884-72:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 4px 22px 3px rgba(219,84,90,1) !important;
  border-radius: 27px !important;
}

.u-block-6884-82:not([data-block-selected]):not([data-cell-selected]),
.u-block-6884-82:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6884-82:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-6884-82:not([data-block-selected]):not([data-cell-selected]).u-block-6884-82:not([data-block-selected]):not([data-cell-selected]).u-block-6884-82:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 4px 22px 3px rgba(219,84,90,1) !important;
  border-radius: 27px !important;
}

.u-block-6884-82:not([data-block-selected]):not([data-cell-selected]).u-block-6884-82:not([data-block-selected]):not([data-cell-selected]).u-block-6884-82:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 4px 22px 3px rgba(219,84,90,1) !important;
  border-radius: 27px !important;
}@import "compass/css3"
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700)
=keyframes($animation-name)
  @-webkit-keyframes #{$animation-name}
    @content
  @-moz-keyframes #{$animation-name}
    @content
  @keyframes #{$animation-name}
    @content
.icon
  @include transition(all 0.3s)
.icon-fly
  width: 22px
  height: 21px
.icon-man
  width: 21px
  height: 22px
.icon-star
  width: 24px
  height: 23px
.icon-email-menu
  width: 27px
  height: 21px
.container-menu
  position: absolute
  left: 50%
  right: 0
  bottom: 50%
  width: 320px
  margin-left: -160px
  background-color: #0d1a25
  input[type=checkbox]
    display: none
    + label
      cursor: pointer
      position: absolute
      z-index: 2
      left: 50%
      margin-left: -18px
      bottom: 0
      width: 57px
      height: 57px
      border-radius: 50%
      display: block
      background-color: #F76583
      background: -webkit-linear-gradient(-90deg, #fe5e7d 0%, #e5375b 100%)
      box-shadow: 0px 0px 40px 4px #F76583, 0px 0px 0px 2px rgba(255, 255, 255, 0.19) inset
      @include transition(all 0.3s)
      &:hover
        background: -webkit-linear-gradient(-90deg, #e5375b 0%, #e5375b 100%)
        box-shadow: 0px 0px 20px 4px #F76583, 0px 0px 0px 2px rgba(255, 255, 255, 0.19) inset
      &:before
        position: absolute
        top: 5px
        left: 16px
        content: "+"
        color: #fff
        font-size: 47px
        font-weight: 100
        @include rotate(0deg)
        display: block
        line-height: 1
    &:checked
      + label
        @include rotate(45deg)
        &:hover
          background: -webkit-linear-gradient(-90deg, #e5375b 0%, #e5375b 100%)
          box-shadow: 0px 0px 40px 4px #F76583, 0px 0px 0px 2px rgba(255, 255, 255, 0.19) inset
        + .menu
          width: 320px
          margin-left: -160px
          box-shadow: 0px 0px 18px 1px #ff6182, 0px 0px 0px 2px rgba(255, 255, 255, 0.19) inset
          .menu-item
            opacity: 1
            @include animation(item 0.5s forwards ease-in-out)
            @include transition(all 0.3s)
            svg
              opacity: 0.5
            &:hover
              svg
                opacity: 1
.menu
  position: absolute
  left: 50%
  right: 0
  bottom: 50%
  width: 35px
  margin-left: -17px
  background-color: #F76583
  text-align: center
  font-size: 0
  padding: 0 10px
  border-radius: 30px
  box-shadow: 0px 0px 0px 4px #F76583, 0px 0px 0px 2px rgba(255, 255, 255, 0.19) inset
  overflow: hidden
  @include transition(all 0.3s)
  .menu-item
    position: relative
    display: inline-block
    vertical-align: bottom
    width: 20%
    height: 100%
    padding: 17px 0
    opacity: 0
    @include transition(all 0.6s)
    svg
      fill: #fff
      
+keyframes(item)
  0%
    opacity: 0
  40%
    opacity: 0
  60%
    opacity: 1
  
.rabbit
  width: 50px
  height: 50px
  position: absolute
  bottom: 20px
  right: 20px
  z-index: 3
  fill: #fff
menubar{
	background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
	
}
label{
  display: block;
  width: 49px;
  height: 32px;
  border-radius: 50px;
  transition: all 0.3s;
  box-shadow: inset 0 0 0 2px #E4E4E4;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
input{
  display: none;
}
i{
  height: 28px;
  width: 28px;
  background: #FFF;
  display: inline-block;
  border-radius: 60px;
  margin-top: 2px;
  margin-left: 2px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  box-shadow: 0 0 0 1px #E4E4E4, 0 3px 2px rgba(0,0,0,0.25);
  pointer-events:none;
}
input:checked+label>i{
  margin-left: 19px;
  box-shadow:0 3px 2px rgba(0,0,0,0.25);
}
label:active{
  box-shadow: inset 0 0 0 20px #E4E4E4;
}
label:active>i{
  width: 34px;
}
input:checked+label:active>i{
  margin-left: 13px;
}
input:checked+label{
  box-shadow: inset 0 0 0 20px #53D769;
  border: none;
}
/* span */
span{
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  text-align: center;
  display: block;
  margin-top: -80px;
  color: #707B82;
}
}
.wrapper {
// progress bar appearance
$background-color:#3d5980;
$bar-empty:#55708d;
$bar-color:#cfd6dd;
$glow-width:60px;
$glow-radius:10px;
$glow-color:#04bfff;
.progress-bar {
  height:3px;
  width:100%;
  position:relative;
  z-index:10;
  background-color:$bar-empty;
  
  .progress {
    position:relative;
    height:100%;
    background-color:$bar-color;
    transition:width 0.5s ease-out;
    border-radius: 0px 2px 2px 0px;
  }
  .glow {
    width:$glow-width;
    max-width:100%;
    height:100%;
    float:right;
  }
  .glow::before,
  .glow::after {
    content:'';
    display:block;
    position:relative;
    border-radius:0px 2px 2px 0px;
  }
  .glow::before {
    background:transparent;
    height:100%;
    box-shadow:0px 0px $glow-radius $bar-color, 0px 0px $glow-radius $glow-color;
    z-index:-5;
  }
  .glow::after {
    background:linear-gradient(to right, $background-color 0%, transparent 100%);
    height:calc(100% + #{$glow-radius} + #{$glow-radius});
    width:calc(100% + #{$glow-radius});
    top:(-$glow-radius);
    left:(-$glow-radius);
    z-index:-3;
  }
}
// messages 
.label {
  font-family:Poppins;
  color:white;
  text-shadow:0px 0px 2px $bar-color;
  font-size:24px;
}
// animations
.fill-1 {
  animation:fill-1 0.5s ease-out 0s;
  animation-fill-mode:forwards;    
  width:0%;
}
.fill-2 {
  animation:fill-2 0.5s ease-out 0.5s;
  animation-fill-mode:forwards;   
  width:0%;
}
.fill-3 {
  animation:fill-3 0.5s ease-out 1s;
  animation-fill-mode:forwards;   
  width:0%;
}
@keyframes fill-1 {
  0% { width:0%; }
  100% { width:70%; }
}
@keyframes fill-2 {
  0% { width:0%; }
  100% { width:40%; }
}
@keyframes fill-3 {
  0% { width:0%; }
  100% { width:90%; }
}
.label.one {
  animation:label 0.5s ease-out 0s;
  animation-fill-mode:forwards;   
  opacity:0;
}
.label.two {
  animation:label 0.5s ease-out 0.5s;
  animation-fill-mode:forwards;   
  opacity:0;
}
.label.three {
  animation:label 0.5s ease-out 1.0s;
  animation-fill-mode:forwards;
  opacity:0;
}
@keyframes label {
  0% { opacity:0; transform:translateY(10px); }
  100% { opacity:0.9; transform:translateY(0); }
}
// demo layout
html, body { width:100%; height:100%; margin:0; background-color:$background-color; box-sizing:border-box; }
body { 
  padding:60px 20px;
  
  .wrapper {
    max-width:600px;
    margin:0 auto;
    
    .container {
      padding:20px;
      > * {
        margin-bottom:10px;
      }
    } 
  }
}
}
.header {
background: rgba(18, 26, 25, 0.5);
border-radius: 0px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 0px solid rgba(255, 255, 255, 0.3);
}
.box {
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: px solid rgba(255, 255, 255, 0.3);
}
#c {
mask-image: linear-gradient(to top, transparent 0%, black);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black);
padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
	width: 100%;
	height: 100%;
}
#menu {
  filter: url("#shadowed-goo");
}
.menu-item, .menu-open-button {
  background: #000000;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  right:10%;
  bottom:50%;
  position: fixed;
  color: black;
  text-align: center;
  line-height: 40px;
  transform: translate3d(0px, 0px, 0px);
  transition: transform ease-out 200ms;
  
  margin-left: 0px; 
  margin-right: auto;
  margin-top: 0px; 
  right: 20px;
  bottom: 35px;
  padding: 10px;
  
}
.menu-open {
  display: none;
}
.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}
.hamburger-1 {
  transform: translate3d(0, -8px, 0);
}
.hamburger-2 {
  transform: translate3d(0, 0, 0);
}
.hamburger-3 {
  transform: translate3d(0, 8px, 0);
}
.menu-open:checked + .menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}
.menu {
  position: absolute;
  left: 50%;
  margin-left: -80px;
  padding-top: 20px;
  padding-left: 80px;
  width: 60px;
  height: 150px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
}
.menu-item:hover {
  background: white;
  color: #00bcd4;
}
.menu-item:nth-child(3) {
  transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  transition-duration: 180ms;
}
.menu-open-button {
  z-index: 10;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
input:checked+.menu-open-button {
    box-shadow: inset 0 0 0 2px #53d769;
    border: none;
}
.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(1.3, 1.3) translate3d(0, 0, 0);
}
.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 190ms;
  transform: translate3d(0, -90px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 290ms;
  transform: translate3d(0, -180px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 390ms;
  transform: translate3d(0, -270px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 490ms;
  transform: translate3d(0, -360px, 0);
}
.c {
}